@charset "utf-8";

/* 项目名称：绿城之都南宁

   制作人：陆培杰

   制作日期：2016年7月2日
   
   使用权：陆培杰

 */

body{ font-family:"微软雅黑"}

.container{ background-color:#ebf3ee}

.w1000{ width:1000px; margin:0 auto;}

/************************************ header ********************************/

.header{ height:30px; line-height:30px; background-color:#ebebeb; border-bottom:1px solid #c5c2c2;}

.header p{ float:left;}

.header p a{ color:#757575; padding:0 4px;}

.contact{ float:right; color:#757575;}

.contact span{ color:#090808; margin-right:20px;}

.contact a{
	border-radius:2px;
	display:inline-block;
	color:#fff;
	width:70px;
	height:21px;
	line-height:21px;
	text-align:center;
	background-color: #0f8f3a;
}

.header_bottom{
	height:72px;
	padding-top:26px;
	background-image: url(../images/loo.png);
	background-repeat: no-repeat;
	background-position: 720px 4px;
}

.header_bottom img{ display:block; float:left;}

.header_bottom ul{
	float:left;
	height:30px;
	line-height:30px;
	padding-top:20px;
	padding-left:10px;
	width:500px;
	color: #0f8f3c;
}

.header_bottom ul li{
	float:left;
	margin-left:22px;
	display:inline;
	color: #0f8f3c;
}

.header_bottom ul li a{ color:#0f8f3c; font-size:14px;}

.header_bottom ul li a:hover{ color:#e86462; text-decoration:underline}





/************************************ banner ********************************/

.banner{ width:100%; height:344; margin:0px auto;position:relative;}

.banner .bd{ position:relative; z-index:0;  }

.banner .bd ul{ width:100% !important; }

.banner .bd li{ width:100% !important;  height:344px; }

.banner .bd li img{ display:block;}

.banner .bd li .siteWidth{ width:980px; position:relative;  margin:0 auto;  }

.banner .bd li a{ height:344; display:block;  }

.banner .hd{ width:80px;position:absolute; z-index:1; top:324px; left:48%; height:13px;}

.banner .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; text-align:center; width:9px; height:9px; margin:3px; overflow:hidden; background:#fff; line-height:9999;}

.banner .hd ul .on{ filter:alpha(opacity=100);opacity:1; background:#0987d0;}







/************************************ content ********************************/

.content{ margin:0 auto; padding-bottom:20px; width:1000px;}

.p_tit1{ text-align:center; background:url(../images/bg_tit.jpg) no-repeat left bottom; height:60px; line-height:76px; color:#0f8f3a; font-size:20px; font-weight:bold; margin-bottom:14px;}

.ul_jishu{ margin-bottom:20px;}

.ul_jishu li{
	width:291px;
	height:310px;
	padding:16px 13px 0;
	background-color:#FFFFFF;
	overflow:hidden;
	border: 1px solid #beccc3;
}

.ul_jishu li img{ display:block; margin-bottom:9px;}

.ul_jishu li p{ line-height:28px; color:#000000;}

.ul_jishu li p a{ display:block; text-align:center; line-height:24px; color:#0a0a0a; font-size:14px;}



.tab_qiehuan{ width:1000px; height:156px; margin-bottom:20px;}

.slideTxtBox{ width:1000px; height:156px;}

.slideTxtBox .hd{ height:27px; line-height:27px; position:relative; margin-bottom:1px; }

.slideTxtBox .hd ul{ float:left;  position:absolute; left:0px; top:0px; height:32px;   }

.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer; color:#fff; font-size:14px; background-color:#0183ce; margin-right:1px;}

.slideTxtBox .hd ul li.on{ height:27px;  background:#005ac0;}

.slideTxtBox .bd{ background-color:#fff; height:128px;} 

.slideTxtBox .bd ul{ padding:15px 0;  zoom:1;  }

.slideTxtBox .bd li{ height:26px; line-height:26px; float:left; width:426px; padding-left:30px; color:#474747;}

.slideTxtBox .bd li a{color:#474747;}

.slideTxtBox .bd li .date{ float:right; color:#999;  }

.slideTxtBox .bd div p{ line-height:24px; text-indent:2em; padding:20px;}



.feilei{ height:210px; background: url(../images/fl_bg.jpg) no-repeat 108px 76px #fff; position:relative;}

.fldiv{ position:absolute; width:120px; height:142px; text-align:center;}

.fldiv img{ text-align:center;}

.fldiv p{ line-height:20px; color:#434040; padding:0 8px;}

.fldiv p a{ color:#0a0a0a; font-size:14px; font-weight:bold; display:block;}

.fl1{ top:4px; left:17px;}

.fl2{ top:104px; left:136px;}

.fl3{ top:4px; left:255px;}

.fl4{ top:104px; left:409px;}

.fl5{ top:4px; left:560px;}

.fl6{ top:104px; left:717px;}

.fl7{ top:4px; left:866px;}

.zjfc{ height:266px;}



.banner_erji{ width:1000px; margin:0 auto 16px;}

.leftbar{ float:left; width:270px;}

.leftnav{
	margin-bottom:18px;
	background-color:#fff;
	border: 1px solid #cccccc;
}

.leftnav h1{
	height:38px;
	line-height:38px;
	background-color:#ffffff;
	color:#5e5e5e;
	padding-left:14px;
	font-size:14px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1d953f;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}

.leftnav ul.ul_left{ width:236px; padding:10px 0 30px 6px;}

.leftnav ul li{
	padding-left:0px;
}

.leftnav ul li h3{ height:37px; line-height:37px; font-size:14px; background:url(../images/ico_3.jpg) no-repeat 4px center; padding-left:20px;}

.leftnav ul li h3 a{ color:#000;}

.leftnav ul li h3 a:hover{ color:#333; font-weight:bold;}

.leftnav ul li ul{ padding-bottom:10px; display:none;}

.leftnav ul li ul li{ border:none; line-height:24px; height:24px; background:url(../images/ico_4.jpg) 10px center no-repeat;margin-bottom:2px; font-size:13px;padding-left:0px;}

.leftnav ul li ul li a{ color:#404345; display:block; padding-left:24px;}

.leftnav ul li ul li a:hover{ color:#0183ce;}

.left_lx{
	background-color:#fff;
	border: 1px solid #cccccc;
}

.left_lx h1{
	height:38px;
	line-height:38px;
	color:#5e5e5e;
	padding-left:14px;
	font-size:14px;
	margin-bottom:10px;
	font-weight: bold;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1d953f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.left_lx p{ color:#000; line-height:30px; padding:0 16px;}









.rightbar{
	float:right;
	width:712px;
	background-color:#fff;
	border: 1px solid #cccccc;
}

.bread{
	height:40px;
	line-height:38px;
	font-size:14px;
	color:#000000;
	padding-left:28px;
	background-repeat: repeat-x;
	background-position: 15px center;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1d953f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}

.bread a{ color:#000000;}

.bread a:hover{ text-decoration:underline}

.ul_news{ width:650px; padding:10px 20px; height:560px;}

.ul_news li{ line-height:42px; height:42px; background:url(../images/ico_2.jpg) left center no-repeat; padding-left:15px;}

.ul_news li a{ color:#000; font-size:14px;}

.ul_news li span{ float:right;}



.con_news{ padding:10px 20px; min-height:560px;}

.p_tit2{ text-align:center; line-height:26px; color:#bcb2b2;}

.p_tit2 span{
	display:block;
	height:42px;
	line-height:42px;
	color:#3c3c3c;
	font-size:14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.con{ color:#686868; line-height:27px;}



.ul_zj{ width:710px; padding:10px 0px; min-height:560px;}

.ul_zj li{ float:left; width:220px; margin-left:12px; display:inline; margin-bottom:18px;}

.ul_zj li a{ display:block;}

.ul_zj li img{ display:block; margin-bottom:1px;}

.ul_zj li span{ display:block; line-height:24px; text-align:center; background-color:#f8f8f8}



.lianxi{ padding:20px 20px 40px; min-height:520px;}

.luxian_l{ margin-bottom:20px;}

.luxian_l p{ line-height:26px; color:#000;}

.contact_nei{width:680px; padding:10px 25px; min-height:560px;}



.contact_nei li{width:680px; text-align:left; line-height:24px; margin-top:20px;}

.contact_nei li label{vertical-align:middle;}

.contact_nei li .yuyue_in{width:420px; height:22px; border:1px solid #0f8f38;}



.contact_nei li .yuyue_te{width:420px; height:90px; border:1px solid #0f8f38;}

.contact_nei li .btn{
	width:80px;
	height:22px;
	border:1px solid #006600;
	color:#FFFFFF;
	cursor:hand;
	background-color: #0f8f38;
}



.picScroll-left{overflow:hidden; position:relative; }

.picScroll-left .hd{position:relative;}

.picScroll-left .hd .prev{ display:block; overflow:hidden;cursor:pointer; font-size:30px; font-weight:bold; position:absolute; right:0; top:80px; color:#0f8f38; background:#FFF; border-radius:4px; opacity:0.5;filter:alpha(opacity=50)}

.picScroll-left .hd .next{ display:block; overflow:hidden;cursor:pointer; font-size:30px; font-weight:bold; position:absolute; left:0; top:80px;color:#0f8f38; background:#FFF; border-radius:4px; opacity:0.5;filter:alpha(opacity=50)}

.picScroll-left .hd .prev:hover,.picScroll-left .hd .next:hover{opacity:1;filter:alpha(opacity=100)}



.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }

.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }

.picScroll-left .hd ul li.on{ background-position:0 0; }

.picScroll-left .bd{ padding:10px 18px; padding-left:22px;}

.picScroll-left .bd ul{ overflow:hidden; zoom:1;}

.picScroll-left .bd ul li{ margin:0 2px; float:left; _display:inline; overflow:hidden; text-align:center;  }

.picScroll-left .bd ul li .pic{ text-align:center; }

.picScroll-left .bd ul li .pic img{ width:231px; height:151pxpx; display:block; border:2px solid #fff; }

.picScroll-left .bd ul li .pic a:hover img{ border-color:#f8f8f8;  }

.picScroll-left .bd ul li .title{ line-height:24px;}

.picScroll-left .bd ul li .title a{ color:#666;}

.picScroll-left .bd ul li .title a:hover{ color:#333;}















/************************************ footer ********************************/

.footer{ height:130px; background-color:#FFFFFF; padding-top:14px;}

.footer p{ width:1000px; margin:0 auto; text-align:center; line-height:26px; color:#333;}

.footer p a,.footer p a:visited{ color:#333;}

.footer p a:hover{ text-decoration:underline;}

/************************************ login ********************************/

#container{
	position: fixed;
	width: 600px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -300px;
	border: 1px solid #91A7E3;
	background-color: #fff;
	border-radius: 8px;
	display: none;
	overflow: hidden;
}

.btn2{
	width: 180px;
	height: 35px;
	background-color: #FFFFFF;
	border:#e7e7e7 1px solid;
	border-radius: 5px;
}

.btn2:hover{
	width: 180px;
	height: 35px;
	background-color: #FFFFFF;
	border:#17a9da 1px solid;
	border-radius: 5px;
	color: #17a9da;
}

.btn3{
	width: 180px;
	height: 35px;
	background-color: #17a9da;
	border:#17a9da 1px solid;
	border-radius: 5px;
	color: #FFFFFF;
}

.btn3:hover{
	width: 180px;
	height: 35px;
	background-color: #33b4de;
	border:#17a9da 1px solid;
	border-radius: 5px;
}

