.box input {
	outline: none;
}

.black_overlay {
	display: none;
	/* 此元素不会被显示*/
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #bbbbbb;
	z-index: 1001;
	/* z-index 属性设置元素的堆叠顺序。*/
	opacity: 0.8;
	/* opacity 属性设置元素的不透明级别。*/
}

.white_content {
	display: none;
	position: fixed;
	top: 20%;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	/*层级要比.black_overlay高，这样才能显示在它前面*/
	overflow: auto;
}

.box {
	width: 350px;
	height: auto;
	/* 如果想去掉滚轴请用min-height */
	/* min-height: 350px;  */
	position: absolute;
	left: 50%;
	margin-left: -150px;
	text-align: center;box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.2);
}

.box div {
	text-align: left;
	margin-left: 40px;line-height: 35px;
}

.box div font {
	display: inline-block;
	/* min-width: 100px;
	max-width: 160px; */
	width: 90px;
}

.box div span {
	display: inline-block;
	margin-left: 4px;
	margin-bottom: 4px;
}

.box .font_title {
	letter-spacing: 6px;
	color: #999999;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}

.box .btn {
	width: auto;
	height: 34px;
	border-width: 0px;
	border-radius: 6px;
	padding: 0 10px 0;
	background: #4ECDC4;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: 16px;
	margin-right: 6px;
	
	/*文本不被选中*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.box .bottom_btn {
	width: 130px;
	margin-bottom: 20px;
	position: relative;
	top: 0px;
	left: 75px;
}

.box .form_submit{
	margin-bottom: 30px;
}

/**
 * 脱离文档流
 * 依照bottom定位
 * 给点padding
 */